@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
    --card-scale: 1;
    --border-radius: calc(.5rem * var(--card-scale));
    --card-padding: calc(.5rem * var(--card-scale));

    --black: rgb(56, 50, 55);
    --red: rgb(245, 20, 69);
    --bg: rgb(98, 138, 165);
    --table: hsl(148, 14%, 27%);
}

*, *::before, *::after {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    width: calc(100% - 4rem);
    height: 100vh;
    padding-inline: 2rem;
    background-color: var(--table);
    padding-top: 1px;
    margin-top: -1px;
}

.table {
    max-width: 1300px; 
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr min-content min-content;
    row-gap: 2rem;
    column-gap: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.foundation {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.discard {
    grid-column: 3;
}

.stock {
    grid-column: 4;
    cursor: pointer;
}

.tableau {
    display: flex;
    grid-column: 1 / 5;
    justify-content: space-between;
}

.card-slot {
    width: calc(5rem * var(--card-scale));
    height: calc(8rem * var(--card-scale));
    background-color: rgba(255,255,255,5%);
    border: 1px solid rgba(255,255,255,10%);
    border-radius: var(--border-radius);
}

.card {
    display: none;
    -webkit-user-select: none;
    user-select: none;
    width: calc(100% - 2 * var(--card-padding));
    height: calc(1em - .5 * var(--card-padding));
    position: relative;
    padding: var(--card-padding);
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0,0,0, 40%);
    cursor: pointer;
    color: var(--black);
    font-size: calc(1rem * var(--card-scale));
}

.tableau .card {
    display: block;
}

.card:first-of-type {
    top: 0;
}

.card:last-of-type {
    display: block;
    height: calc(100% - 2 * var(--card-padding));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(2.5rem * var(--card-scale));
    font-weight: normal;
}

.card::before {
    content: "";
    position: absolute;
    top: calc(100% - var(--border-radius));
    inset-inline: 0;
    height: calc(var(--border-radius) * 2);
    background-color: white;
}

.card:last-of-type::before {
    content: none;
}

.card::after {
    content: "";
    position: absolute;
    inset: calc(.5 * var(--card-padding) - 1px);
    bottom: calc(-1 * var(--border-radius));
    border: 2px solid var(--black);
    border-radius: 8px;
    background-color: var(--bg);
}

.card.visible::after {
    background-color: transparent;
}

.card:last-of-type::after {
    bottom: calc(.5 * var(--card-padding) - 1px);
}

.card > span {
    display: none;
    position: relative;
    z-index: 2;
}

.card.visible > span {
    display: inline;
}

.card > .black {
    color: var(--black);
}

.card > .red {
    color: var(--red);
}

.card.selected, .card.selected::before {
    background-color: var(--black);
    color: white
}

.card.selected::after {
    border-color: white;
}

.card.selected > .black {
    color: white
}

@media screen and (min-width: 1000px) {
    :root {
        --card-scale: 1.5;
    }
}